* {
  margin: 0px;
  border: none;
  padding: 0px;
  box-sizing: border-box;

  color: var(--content-color);
  font-family: "Red Hat Display", sans-serif;
}

:root {
  --bg-color: rgb(25, 18, 45);
  --canvas-color: rgb(42, 46, 91);
  --content-color: white;
}

body {
  background-color: var(--bg-color);

  user-select: none;

  transition: opacity 250ms ease-out, transform 150ms ease-out;
}

h1 {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  text-align: center;
}

button {
  background-color: transparent;
}

.flex-wrapper {
  display: grid;
  grid-template-columns: 20% 1fr;
  align-items: center;
  gap: 30px;

  padding: 20px;
  min-height: 100vh;
  min-height: 100svh;

  position: relative;
}

.ad {
  background-color: white;
}

.console {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
  align-items: center;

  padding: 16px 20px;
  width: fit-content;

  background-color: rgb(27, 27, 57);
  border-radius: 6px;

  @media (max-width: 876px) {
    grid-template-columns: auto;
    justify-items: center;
  }
}

.canvas-wrapper {
  justify-self: end;

  width: fit-content;

  position: relative;

  text-align: end;

  &__begin-game, &__game-over {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: calc(100% - 36px);

    position: absolute;
    bottom: 0px;
    left: 0px;

    background-color: rgba(37, 40, 72, 0.8);
    border-radius: 4px 0px 4px 4px;
    opacity: 0;
    
    pointer-events: none;

    transition: opacity 150ms ease-out;

    &--active {
      opacity: 1;

      pointer-events: all;
    }
  }

  &__begin-game {
    button {
      font-weight: 700;
      font-size: 20px;
    }
  }

  &__game-over {
    p {
      margin-bottom: 10px;

      font-weight: 700;
      font-size: 22px;
    }

    button {
      padding: 10px;
      font-weight: 700;
    }
  }
}

.score-placeholder {
  display: inline-block;
  width: 50px;
  padding: 8px 6px;

  background-color: var(--content-color);
  border-radius: 6px 6px 0px 0px;

  color: black;
  font-weight: 700;
  text-align: center;
}

canvas {
  display: block;
  border: 3px solid var(--content-color);
  width: 100%;

  border-radius: 6px 0px 6px 6px;
  background-color: var(--canvas-color);
}

.controls {
  width: 280px;
  height: 280px;

  background-color: var(--canvas-color);
  border-radius: 10px;

  position: relative;

  button {
    border-radius: 6px;

    position: absolute;

    &::after {
      content: '';
      width: 100%;
      height: 100%;

      position: absolute;
      top: 10px;
      left: 0px;
      z-index: -1;

      background-color: var(--content-color);
      border-radius: 6px 6px 4px 4px;
    }
  }

  div {
    border: 4px solid var(--content-color);
    padding: 20px 16px 4px 16px;

    background-color: var(--canvas-color);
    border-radius: 6px;

    transition: 100ms transform ease-out;

    &:active {
      transform: translateY(10px);
    }
  }

  &__top {
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__right {
    top: calc(50% - 5px);
    right: 10px;
    transform: translateY(-50%);
  }

  &__bottom {
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__left {
    top: calc(50% - 5px);
    left: 10px;
    transform: translateY(-50%);
  }
}

.game-tip {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%) !important;

  font-variant-caps: small-caps;
  text-transform: uppercase;
  font-weight: 700;

  opacity: 0;
  transform: translateY(-16px);

  transition: opacity 150ms ease-out 0ms, transform 150ms ease-out 0ms;

  &--active {
    opacity: 1;
    transform: translate(-50%, 0px);

    transition-delay: 500ms;
  }

  &__key {
    margin: 6px;
    border: 2px solid var(--content-color);
    padding: 6px;

    position: relative;

    border-radius: 4px;
  }

  &__key::after {
    content: '';
    width: 100%;
    height: 4px;

    position: absolute;
    left: 0px;
    bottom: 0px;

    background-color: var(--content-color);
  }
}


.hide-game {
  transform: scale(0.8);
  opacity: 0;
}

.shake-number {
  animation: 80ms shake linear;
}

.blink {
  animation: blink 200ms ease-out;
}

@media (max-width: 1200px) {
  .flex-wrapper {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .ad {
    width: 100%;
    height: 500px !important;
  }
}

@media (max-width: 876px), (max-height: 630px) {
  .game-tip {
    display: none;
  }
}

@keyframes shake {
  30% {
    transform: translate(4px, 3px);
  }

  60% {
    transform: translate(-2px, 3px);
  }

  to {
    transform: translate(0px, 0px);
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
