* {
  margin: 0px;
  border: none;
  padding: 0px;
  box-sizing: border-box;

  color: var(--content-color);
  font-family: "Red Hat Display", sans-serif;
}

:root {
  --bg-color: rgb(25, 18, 45);
  --canvas-color: rgb(37, 40, 72);
  --main-color: yellow;
  --food-color: ;
  --content-color: white;
}

body {
  background-color: var(--bg-color);
}

h1 {
  margin-top: 20px;
  text-align: center;
}

.canvas-wrapper {
  margin: 30px auto;
  width: fit-content;

  text-align: end;
}

.score-placeholder {
  display: inline-block;
  width: 50px;
  padding: 8px 6px;

  background-color: var(--content-color);
  border-radius: 6px 6px 0px 0px;

  color: black;
  font-weight: 700;
  text-align: center;
}

canvas {
  display: block;
  border: 3px solid var(--content-color);

  border-radius: 6px 0px 6px 6px;
  background-color: var(--canvas-color);
}


.shake-number {
  animation: 80ms shake linear;
}

@keyframes shake {
  30% {
    transform: translate(4px, 3px);
  }

  60% {
    transform: translate(-2px, 3px);
  }

  to {
    transform: translate(0px, 0px);
  }
}